<div class="root">
  <div class="row">
      <div class="col-lg-12">
          <div class="grey-box">
            <div class="page-header">
              <h4 class="page-header-text">Litters</h4>
              <%= add_new_btn(new_litter_path) %>
            </div>
            
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>Pregnancy</th>
                  <th>Birthday</th>
                  <th>Gender</th>
                  <th>Color</th>
                  <th>Survival</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @litters.each do |litter| %>
                  <tr>
                    <td><%= litter.pregnancy.name %> - <%= litter.pregnancy.dog.call_name %></td>
                    <td><%= litter.pregnancy.surgery_date %></td>
                    <td><%= litter.gender %></td>
                    <td><%= litter.color.name %></td>
                    <td><%= yesno(litter.survival) %></td>
                    <!-- 
                    <td>
                      <div class="btn-group">
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-edit icon-white"></i>Actions
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_litter_path(litter) %>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, litter, method: :delete, data: {confirm: 'Are you sure?'} %>
                        </li>
                      </ul>
                    </div>
                    </td>
                     -->
                    <td>
                      <%= link_to 'Show', litter, class: 'btn btn-primary btn-small' %>
                      <%= link_to 'Edit', edit_litter_path(litter), class: 'btn btn-primary btn-small' %>
                      <%= link_to 'Destroy', litter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-small' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= link_to 'New Litter', new_litter_path %>
        </div>      
      </div>
  </div>
</div>