<div class="root">
  <div class="row">
    <div class="col-lg-12">
      <div class="grey-box">
        <p id="notice"><%= notice %></p>
        
        <div class="tabbale">
          <ul class="nav nav-pills">
            <li class="active"><a href="#pane1" data-toggle="tab">Current expense information</a></li>
            <li><a href="#pane2" data-toggle="tab"><%= @dog_expense.dog.call_name %> all expenses</a></li>
            <!-- 
            <li><a href="#pane3" data-toggle="tab">pane3</a></li>
            <li><a href="#pane4" data-toggle="tab">pane4</a></li>
             -->
          </ul>

          <div class="tab-content">
            <div id="pane1" class="tab-pane active">
              <p><strong>Dog:</strong><%= @dog_expense.dog.name %></p>
              <p><strong>Call Name:</strong><%= @dog_expense.dog.call_name %></p>
              <p><strong>Charge:</strong><%= @dog_expense.charge.name %></p>
              <p><strong>Charge date:</strong><%= @dog_expense.charge_date %></p>
              
              <% if !@dog_expense.show_entry.nil? %>
                <p>
                  <strong>Show info:</strong>
                  <pre>
                  Kennel Club: <%= @dog_expense.show_entry.show.kennel_club %>
                  Show Date:<%= @dog_expense.show_entry.show_date %>
                  Points:<%= @dog_expense.show_entry.points %>
                  Title:<%= @dog_expense.show_entry.title %>
                  </pre>
                </p>
              <% end %>
              
              <p><strong>Amount:</strong><%= number_to_currency(@dog_expense.amount) %></p>
              <p><strong>Note:</strong><%= @dog_expense.note %></p>
              <%= link_to 'Edit', edit_dog_expense_path(@dog_expense),class: 'btn btn-primary'  %> |
              <%= link_to 'Back', dog_expenses_path,class: 'btn btn-primary'  %>
            </div>

            <div id="pane2" class="tab-pane">
              <h4>All expenses for <%= @dog_expense.dog.call_name %></h4>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>Charge date</td>
                    <td>Charge for</td>
                    <td>Note</td>
                    <td class="td-text-right">Amount (USD)</td>
                    <td class="td-text-right">Amount (NTD)</td>
                  </tr>
                </thread>
                <tbody>
                  <% DogExpense.where(dog_id: @dog_expense.dog_id).order(charge_date: :desc).each do |expense| %>
                    <tr>
                      <td><%= expense.charge_date %></td>
                      <td><%= expense.charge.name %></td>
                      <td><pre><%= expense.note %></pre></td>
                      <td class="td-text-right"><%= currency_to(expense.amount, expense.currency) if expense.currency == 'USD' %></td>
                      <td class="td-text-right"><%= currency_to(expense.amount, expense.currency) if expense.currency == 'TW' %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="3">&nbsp;</td>
                    <td class="td-text-right"><%= currency_to(DogExpense.total_charge_by_dog('USD',@dog_expense.dog_id).sum("amount").to_f, 'USD') %></td>
                    <td class="td-text-right"><%= currency_to(DogExpense.total_charge_by_dog('TW', @dog_expense.dog_id).sum("amount").to_i, 'TW') %></td>
                  </tr>
              </tbody>
              </table>
              
            </div>
            <!-- 
            <div id="pane3" class="tab-pane">pane3</div>
            <div id="pane4" class="tab-pane">pane4</div>
             -->
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>