<%= form_for([@pregnancy, @mating], :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
  <% if @pregnancy.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@pregnancy.errors.count, "error") %> prohibited this pregnancy from being saved:</h4>

      <ul>
      <% @pregnancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-xs-8">
    <%= f.label :pregnancy %>
    <%= f.select(:pregnancy_id, Pregnancy.where(nil).map{|p|["#{p.name} - #{p.dog.call_name}",p.id]},{include_blank: 'Select a pregnant bitch'},{class: 'form-control'})%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-8">
    <%= f.label :sire_id %>
    <%= f.select(:sire_id, Dog.dogs.where(nil).map{|d|[d.call_name, d.id]},{ include_blank: 'Select a mating dog'} ,{class: 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-8">
    <%= f.label :mating_date %>
    <%= f.text_field :mating_date,'data-behaviour' => 'datepicker', value: date_value(@mating.mating_date), :readonly => true, class: 'form-control' %>
    </div>
  </div>

  <p>
    <%= f.submit  class: 'btn btn-primary' %>
  </p>
<% end %>
