<div class="root">
  <div class="row">
      <div class="col-lg-12">
          <div class="grey-box">
          
            <div class="page-header">
              <h4 class="page-header-text">payment statuses</h4>
              <%= add_new_btn(new_payment_status_path) %>
            </div>
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Note</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @payment_statuses.each do |payment_status| %>
                  <tr>
                    <td><%= payment_status.name %></td>
                    <td><%= payment_status.note %></td>
                    <td>
                        <%= link_to 'Show', payment_status, class: 'btn btn-primary btn-small' %>
                        <%= link_to 'Edit', edit_payment_status_path(payment_status) , class: 'btn btn-primary btn-small'%>
                        <%= link_to 'Destroy', payment_status, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-primary btn-small'%>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= link_to 'New Payment status', new_payment_status_path %>
      </div>
    </div>
  </div>
</div>