<div class="root">
	<div class="row">
		<div class="col-lg-12">
			<div class="grey-box">
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Name:</strong>
			  <%= @payment_status.name %>
			</p>

			<p>
			  <strong>Note:</strong>
			  <%= @payment_status.note %>
			</p>

			<%= link_to 'Edit', edit_payment_status_path(@payment_status),class: 'btn btn-primary'  %> |
			<%= link_to 'Back', payment_statuses_path,class: 'btn btn-primary'  %>
			</div>
		</div>
	</div>
</div>