<tr>
<td><%= link_to(dog.call_name, dog) %></td>
<td><%= dog.birthday %></td>
<td><%= dog.gender %></td>
<td><%= dog.color.name %></td>
<td><%= dog.registration_no %></td>
<td><%= dog.status.name %></td>
<td>
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-edit icon-white"></i>Actions
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to '<i class="icon-eye-open"></i> Show'.html_safe, dog %></li>
      <li><%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_dog_path(dog) %></li>
      <li class="divider"></li>
      <li><%= link_to '<i class="icon-trash"></i> Delete'.html_safe, dog, method: :delete, data: {confirm: 'Are you sure?'} %></li>
    </ul>
  </div>  
</td>
</tr>