<div class="root">
  <div class="row">
    <div class="col-lg-12">
      <div class="grey-box">
        <p id="notice"><%= notice %></p>
        <h4>Pregnancy Detail</h4>

        <div class="col-md-4">
          <div class="tabbable">
          <ul class="nav nav-pills">
            <li class="active"><a href="#pane1" data-toggle="tab">Pregnancy Information</a></li>
          </ul>
          </div>
              <p>
                <strong>Name:</strong>
                <%= @pregnancy.name %>
              </p>
              <p>
                <strong>Bitch:</strong>
                <%= @pregnancy.dog.name %>
              </p>
              <p>
                <strong>Color:</strong>
                <%= @pregnancy.dog.color.name %>
              </p>
              <p>
                <strong>Heat start date:</strong>
                <%= @pregnancy.heat_start_date %>
              </p>
              <p>
                <strong>Estimate Due date:</strong>
                <%= @pregnancy.due_date %>
              </p>
              <p>
                <strong>Estimate Surgery date:</strong>
                <%= @pregnancy.surgery_date %>
              </p>
              <p>
                <strong>Note:</strong>
                <%= @pregnancy.note %>
              </p>
              <p>
                <strong>Total puppy:</strong>
                <%= @pregnancy.total_puppies %>
              </p>
              <p>
                <strong>Puppies Age:</strong>
                <%= time_ago_in_words(@pregnancy.surgery_date) %>
              </p>
              <%= link_to 'Edit', edit_pregnancy_path(@pregnancy),class: 'btn btn-primary'  %> |
              <%= link_to 'Back', pregnancies_path,class: 'btn btn-primary'  %>
        </div>
        <div class="col-md-4">
          <div class="tabbable">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#pane1" data-toggle="tab"><span class="badge pull-right"><%= @pregnancy.matings.size %></span>Matting Information&nbsp;</a>
              </li>
            </ul>
          </div>
          <p><strong>Heat start date:</strong><%= @pregnancy.heat_start_date %></p>
          <p>
            <strong>Dog:</strong> <%= @pregnancy.matings.first.sire.call_name  if !@pregnancy.matings.first.nil? %>
            <strong>Color:</strong> <%= @pregnancy.matings.first.sire.color.name if !@pregnancy.matings.first.nil?%>
          </p>
            <table class="table table-striped">
              <tr>
                <td>Dog</td>
                <td>Progesterone</td>
                <td>Mating Date</td>
                <td>Days</td>
                <td></td>
              </tr>
              <% @pregnancy.matings.order('mating_date DESC').each do |mating| %>
                <tr>
                  <td><%= mating.sire.call_name %></td>
                  <td><%= mating.progesterone %> ml</td>
                  <td><%= mating.mating_date %></td><td><%=  distance_of_time_in_words(mating.mating_date, @pregnancy.heat_start_date)%></td>
                  <td>
                    <%#= link_to "Edit", edit_pregnancy_mating_path(@pregnancy, mating), :class => "btn"%>
                    <%= link_to "Edit", edit_pregnancy_mating_path(@pregnancy, mating), :class => "btn btn-mini", :remote => true, "data-toggle" => "modal", "data-target" => "my-modal"%>
                  </td>
                </tr>
              <% end %>
            </table>
            
            <div>
            <a href="javascript:void(0)" onclick="javascript:$('.panel').slideToggle('slow')" class="btn btn-primary">Add Mating</a>
            </div>
            <div class="panel">
              <h4>Add Mating Record</h4>
              <%= render 'matings/matingForm' %>
            </div>

        </div>
        <div class="col-md-4">
          <div class="tabbable">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#pane1" data-toggle="tab"><span class="badge pull-right"><%= @pregnancy.litters.size %></span>Litter Information&nbsp;</a>
              </li>
            </ul>
          </div>
           <p><strong>Litter Information</strong></p>
           <p><%= @pregnancy.litters.where(gender: 'Male').size %> M - <%= @pregnancy.litters.where(gender: 'Female').size %> F</p>
            <table class="table table-striped">
              <tr><td>Gender</td><td>Color</td><td>Survival</td><td>Dog</td><td></td></tr>
              <% @pregnancy.litters.each do |litter| %>
                <tr>
                  <td><%= litter.gender %></td>
                  <td><%= litter.color.name %></td>
                  <td><%= yesno(litter.survival) %></td> 
                  <td><%= litter.dog.call_name if !litter.dog.nil?%></td>
                  <td>
                    <%#= link_to "Edit", edit_pregnancy_litter_path(@pregnancy, litter) %>
                    <%= link_to "Edit", edit_pregnancy_litter_path(@pregnancy, litter), :class => "btn btn-mini", :remote => true, "data-toggle" => "modal", "data-target" => "my-modal"%>
                  </td> 
                </tr>
              <% end %>
            </table>

            <div>
              <a href="javascript:void(0)" onclick="javascript:$('.litter-panel').slideToggle('slow')" class="btn btn-primary">Add Litter</a>
            </div>
            <div class="litter-panel">             
              <h4>Add Litter</h4>
              <%= render 'litters/litterForm' %>
            </div>    
        </div>

        <div style="clear: both;"></div>
        
        <div class="row">
          <% @pregnancy.pictures.each do |pic| %>
            <div class="col-md-3">
                <%= image_tag(pic.file.url, :class => "small-image") %>
            </div>
          <% end %>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


           



      </div>
    </div>
  </div>
</div>