<%= form_for(@user, html:{class: 'form-horizontal', role: 'form'}) do |f| %>
	
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h4><%= pluralize(@user.errors.count, "error") %> prohibited this show from being saved:</h4>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<div class="col-xs-4">
			<%= f.label :display_name %>
			<%= f.text_field :display_name, :autofocus => true, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-4">
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control'%>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-4">
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-4">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
		</div>
	</div>
	


	<p>
		<%= f.submit class: 'btn btn-primary' %>
	</p>
<% end %>
