<%= form_for([@sale, @payment],:html=>{:class => 'form-horizontal', :role=> 'form'}) do |f| %>
  <% if @sale.errors.any? %>
    <div id="errorExplanation">
      <h4><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved.</h4>
      <ul>
        <%= @sale.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-xs-4">
    <%= f.label :payment_type %>
    <%= f.select(:payment_type_id, PaymentType.all.map{|a| [a.name, a.id]}, {include_blank:'Select a Payment Type'},{class: 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
    <%= f.label :payment_date %>
    <div class="input-append date" id="dp3" data-date-format="yyyy-mm-dd">
      <%= f.text_field :payment_date, value: date_value(@payment.payment_date), :readonly => true,class: 'form-control' %><span class="add-on"><i class="icon-th"></i></span>
    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
    <%= f.label :payment_status %>
    <%= f.select(:payment_status_id, PaymentStatus.all.map{|p| [p.name, p.id]}, {include_blank:'Select a Payment Status'},{class: 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
    <%= f.label :currency %>
    <%= f.select(:currency, $CURRENCIES.map{|c| [c,c]}, class: 'form-control')%>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-xs-4">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
    <%= f.label :note %>
    <%= f.text_area :note, id: 'message_area', class: 'form-control' %>
    </div>
  </div>

  <p><%= f.submit class: 'btn btn-primary' %></p>
<% end %>