
      <div class="grey-box">
      <%= form_for([@sale, @sale.payments.build]) do |f| %>
        <% if @sale.errors.any? %>
          <div id="errorExplanation">
            <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved.</h2>
            <ul>
              <%= @sale.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :payment_type %><br>
          <%= f.select(:payment_type_id, PaymentType.all.map{|a| [a.name, a.id]}, :include_blank => 'Select a Payment Type') %>
        </div>
        <div class="field">
          <%= f.label :payment_date %><br>
          <div class="input-append date" id="dp3" data-date-format="yyyy-mm-dd">
            <%= f.text_field :payment_date, value: date_value(Date.today), :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
        <div class="field">
          <%= f.label :payment_status %><br>
          <%= f.select(:payment_status_id, PaymentStatus.all.map{|p| [p.name, p.id]}, :include_blank =>'Select a Payment Status') %>
        </div>
        <div class="field">
          <%= f.label :currency %><br>
          <%= f.select(:currency, $CURRENCIES.map{|c| [c,c]})%>
        </div>
        <div class="field">
          <%= f.label :amount %><br>
          <%= f.text_field :amount %>
        </div>
        <div class="field">
          <%= f.label :note %><br>
          <%= f.text_area :note %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      </div>
