<%= form_for(@payment_type,:html => {:class=>'form-horizontal', :role => 'form'}) do |f| %>
  <% if @payment_type.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@payment_type.errors.count, "error") %> prohibited this payment_type from being saved:</h4>

      <ul>
      <% @payment_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>  
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :description %>
      <%= f.text_area :description, id: 'message_area', class: 'form-control' %>
    </div>
  </div>
    
  <br/>
  <p><%= f.submit class: 'btn btn-primary' %></p>
<% end %>
