<div class="root">
  <div class="row">
    <div class="col-lg-12">
        <div class="grey-box">
        <div class="page-header">
          <h4 class="page-header-text">Sales</h4>
          <%= add_new_btn(new_sale_path) %>
        </div>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Dog</th>
              <th>Customer</th>
              <th>Sale date</th>
              <th>Sale price</th>
              <th>Service</th>
              <th>Note</th>
              <th>Photo</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @sales.each do |sale| %>
              <tr>
                <td><%= link_to sale.dog.call_name, dog_path(sale.dog.id) %></td>
                <td><%= link_to(sale.customer.name, customer_path(sale.customer.id) )%></td>
                <td><%= sale.sale_date %></td>
                <td><%= currency_to(sale.sale_price,sale.currency) %></td>
                <td><%= sale.service.name %></td>
                <td style="width: 250px;"><pre><%= sale.note %></pre></td>
                <td><%= sale.dog.pictures.size %></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-edit icon-white"></i>Actions
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to '<i class="icon-eye-open"></i> Show'.html_safe, sale%></li>
                      <li><%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_sale_path(sale) %></li>
                      <li class="divider"></li>
                      <li><%= link_to '<i class="icon-trash"></i> Delete'.html_safe, sale, method: :delete, data: {confirm: 'Are you sure(this action will also delete assoicated payments ) ?'} %></li>
                    </ul>
                  </div>
                </td>
                <!-- 
                <td><%= link_to 'Show', sale %></td>
                <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
                <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure(this action will also delete assoicated payments ) ?' } %></td>
                 -->
              </tr>
            <% end %>
            <tr><td colspan="3" align="right">Total</td><td><%= currency_to(Sale.sum(:sale_price),'TW') %></td><td colspan="3">&nbsp;</td></tr>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Sale', new_sale_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>